astroid==2.5.7
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
idna==2.10
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
oauthlib==3.1.0
Pillow==8.2.0
pylint==2.8.2
PySocks==1.7.1
python-dotenv==0.17.1
requests==2.25.1
requests-oauthlib==1.3.0
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
tweepy==3.10.0
urllib3==1.26.4
wrapt==1.12.1
